/* Reset some basic margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Container */
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Styling for headings */
h1, h2, h3, h4 {
    background-color: #4CAF50; /* Choose your own color */
    color: white;
    border: 1px solid #D6A800;
    padding: 10px;
}

/* Anchor tags styling */
a {
    color: #4CAF50; /* Same as the background color for a consistent theme */
    text-decoration: none;
}

/* Hover effect for anchor tags */
a:hover {
    color: #D6A800; /* Lighter color for hover effect */
}

/* Visited anchor tags color */
a:visited {
    color: #8B8B00; /* Muted color for visited links */
}